<div class = "top-bar">
    <mat-toolbar  color="primary">
        <span class="no-space-top">Memory steps</span>
        <span class="spacer"></span>
        <div class = "right-children">
            <button mat-flat-button color="primary">
                phMin
            </button>
            <button mat-flat-button color="primary">
                phMax
            </button>
            <button mat-flat-button color="priamry">
                phClose
            </button>
        </div>
    </mat-toolbar>
</div>