mat-sidenav {
  margin: 0px;
  width: 200px;
  border-right: none;
  background: #2c4676;
  color: white;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 98px);
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: lightgray;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}
.gradient {
  display: inline-block;
  color: white;
  text-shadow: #333 1px 1px 4px;;
  font-family: sans-serif;
  margin: 5px;
  padding: 20px;
}