<mat-toolbar color = "primary" [gradient] = gradient.colors> 
 Home
</mat-toolbar>


  <mat-sidenav-container>
    <mat-sidenav class="mat-elevation-z8" mode = "side" opened >
      <button mat-button class="menu-button">
          <mat-icon>home</mat-icon>
          <span>Home</span>
      </button>

  </mat-sidenav >
      <mat-sidenav-content>
          <div class="content mat-elevation-z8">
            <div [gradient] = gradient.colors>
              123
              <p>123</p>
              <p>123</p>
              <p>123</p>
            </div>  
          </div>
      </mat-sidenav-content>
  </mat-sidenav-container>