.mat-card-style{
    box-shadow: none;
    border-radius: 1px 1px 0 0;
    border-style:solid;
    border-color: #4798ff;
    background-color: #add1ff;
    border-radius: 10px !important;
    width: 20%;
    margin-left: 20%;
   }
 
   .mat-card-style:hover{
    box-shadow: none;
    border-radius: 1px 1px 0 0;
    border-style:solid;
    border-color: #ffcc00;
    background-color: #cce2ff;
    border-radius: 10px !important;
    width: 20%;
    margin-left: 20%;
   }
   .vl {
    border-left: 6px solid #4798ff;
    height: 45px;
    margin-left: 30%;
  }
