<app-features></app-features>
<mat-card class="section-style"  >
<mat-card-content>
    <section>
        <div class = "button-row">
            <button mat-raised-button color="accent" (click)="startConfig()"> 
                <mat-icon >build</mat-icon> Start manual configuration
            </button>
            <button mat-stroked-button color="accent"  (click)="stopConfig()"> 
                <mat-icon >play_arrow</mat-icon> Launch execution
            </button>
        </div>
        <span class="spacer"></span>
    </section>
 </mat-card-content>
</mat-card>
 
