 .button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .section-style {
      position: fixed;
      padding-left: 10%;
      padding-top: 50px;
      z-index: 0;
      width: 100%;
  }

  .spacer {
    flex: 1 1 auto;
  }