.spacer {
    flex: 1 1 auto;
  }

.top-text{
  position: absolute;
  top: 0;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top-bar {
  width: 100%;
  height: 30px;
}
  
.right-children{
  position:absolute;
  right:0;
  top: 0;
}

.mat-icon {
  font-size: 15px;
}

$hoverColor: #4c6087;

.mat-flat-button-custom:hover {
  background: $hoverColor;
}